* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* header */

.container-header {
    max-width: 1000px;
    margin: auto;
    background-color: rgb(191, 191, 191);
    color: white;
    text-align: center;
    padding: 10px;
    font: bold;
    border-radius: 5px;
    box-sizing: border-box;
}

/* section */

section {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-image: url(./img/people.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat; 
    box-sizing: border-box;
}

.container-form {
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 10px;
    float: right;
    border-radius: 10px;
}

section h2 {
    font-size: 18px;
}

.text-container {
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 10px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(./img/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x:calc(100% - 10px);
    background-position-y:center ;
}

.botao {
    background-color: rgb(0, 255, 255);
    color: white;
    font: bold;
}

/* footer */

.conteiner-footer {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background-color: rgb(191, 191, 191);
    text-align: center;
    box-sizing: border-box;
}

.caixa-foto {
    display: inline-block;
}


.foto {
    width: 230px;
    border-radius: 10px;
}

.caixa-texto {
    display: inline-block;
    width: 300px;
    text-align: left;
    margin-left: 30px;
}

.caixa-texto h3, p{
    margin-bottom: 10px;
}

.caixa-texto h3 {
    font-size: 30px;
}

/* responsividade da pagina */

@media screen and ( max-width:665px){
    .container-form{
        float: none;
        margin: auto;
    }
}

@media screen and ( max-width: 644px) {
        
        .caixa-texto {
            padding-top: 20px;
    }

}

@media screen and ( max-width: 375px) {
        
    .caixa-texto {
        padding-top: 20px;
        width: 230px;
        margin: 0;
}

}